body {
    background-color: #F5F5F5;
    font-family: "Inter";
}

.order {
    background-color: #FFF;
    width: calc(100% - 20px);
    height: 75px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
}

.order > * {
    display: inline;
}

.orderID {
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid #A9A9A9;
    border-radius: 6px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    width: 200px;
    text-align: center;
    padding: 10px;
}

.separator {
    width: 1px;
    margin: 5px; /* i do not feel like fixing css bugs today */
    height: 100%;
    background-color: #A9A9A9;
}

.details {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.price {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.actionButtons button {
    font-family: "Inter";
    font-size: 20px;
    margin: 2px;
    border: none;
    border-radius: 6px;
    padding: 8px;
}

.actionButtons .undo {
    color: #FFF;
    background-color: #5E5E5E;
}

.actionButtons .delete {
    color: #FFF;
    background-color: #DB4F00;
}