body {
    font-family: "Inter";
    background-color: #F5F5F5;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    aspect-ratio: 1;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.card-header {
    height: 20%;
    display: grid;
    grid-template-columns: 0.75fr 1fr 1.25fr;
    padding: 10px;
    grid-gap: 10px;
}

.header-obj {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-box {
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
}

.name {
    color: white;
}

.card-button {
    width: calc(100% - 20px);
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    border: 0;
    border-radius: 12px;
    font-size: 20px;
    font-family: "Inter";
}

div.danger .card-header {
    background-color: #D45E5A;
}

div.danger .time {
    color: #D45E5A;
}

div.prog .card-header {
    background-color: #000000;
}

div.prog .time {
    color: #000000;
}

div.warning .card-header {
    background-color: #E7A628;
}

div.warning .time {
    color: #E7A628;
}

div.success .card-header {
    background-color: #6CBB68;
}

div.success .time {
    color: #6CBB68;
}

ul {
    text-align: left;
    list-style-type: none;
    padding: 12px;
}

.start {
    background-color: #FFEFD0;
}

.finish {
    background-color: #E3E3E3;
}

.navigation {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    height: 40px;
    padding: 10px;
}

.navigation button {
    color: #FFF;
    background-color: #5E5E5E;
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Inter";
    font-weight: bold;
    height: 100%;
    padding: 10px;
}

/* Clock graphic is part of Material Design by Google. (CC 3.0 BY) */
.clock {
    filter: brightness(0) invert(1);
}