body {
    background-color: #F5F5F5;
    font-family: "Inter";
}

.order {
    background-color: #FFF;
    width: calc(100% - 20px);
    height: 75px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
}

.order > * {
    display: inline;
}

.orderID {
    height: 75px;
    aspect-ratio: 1;
    max-width: 75px;
    border: 1px solid #A9A9A9;
    border-radius: 6px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    width: 100%;
    max-width: 150px; /* oh my flexbox... */
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 0 0 250px;
}

.separator {
    width: 1px;
    height: 100%;
    background-color: #A9A9A9;
    box-sizing: border-box;
}

.details {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.price {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.actionButtons button {
    font-family: "Inter";
    font-size: 20px;
    margin: 2px;
    border: none;
    border-radius: 6px;
    padding: 8px;
}

.actionButtons .undo {
    color: #FFF;
    background-color: #5E5E5E;
}

.actionButtons .delete {
    color: #FFF;
    background-color: #DB4F00;
}

.navigation {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    height: 40px;
    padding: 10px;
    position: -webkit-sticky; /* Safari */
    border-top: solid #5E5E5E 1px;
}

.navigation button {
    color: #FFF;
    background-color: #007BFF;
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Inter";
    font-weight: bold;
    height: 100%;
    padding: 10px;
}

/* Author: https://www.flaticon.com/authors/icon-wind */
.back {
    filter: brightness(0) invert(1);
}